.cardcool
{
  transition: background-color 1000ms;
}

.cardcool img
{
  width:88%;
  height: 20rem;
  transition:all 0.3s ease-out;

}

.cardcool:hover img {
  width:102%;
  height: 21rem; 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #ff8000;
}

.cardcool:hover .overlay {
  opacity: 0.5;
}

.cardcool h4:nth-of-type(1)
{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);

  width: 92%;
  height: 10%;
  text-align: center;

  background: #000;
  color:#fff;
  opacity: 0;

  transition: transform 0.7s;
}

.cardcool:hover h4:nth-of-type(1)
{
   
   opacity: 1;
  transform: translate(-50%, 70%);
}



.cardcool h4:nth-of-type(2)
{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 70%);

  width: 92%;
  height: auto;
  text-align: center;

  font-style: italic;
  color:#fff;
  opacity: 0;

  transition: margin 0.7s;
  font-size:1.2em;
}

.cardcool:hover h4:nth-of-type(2)
{
   
   opacity: 1;
   margin: 40% 0;
}

.cardcool button
{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 70%);

  width: auto;
  height: auto;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease-out;
}


.cardcool:hover button
{
   
  opacity: 1;
  transform: translate(-50%, 70%);
}
