<br>
<br>
<main role="main" class="container " >
    
  <div class="row pb-5"> 
    <h1 class="mt-5 pb-2">Carro de la compra</h1>
    
    
    <div  [ngClass]="{'lightcool': state === 1  }" class="carrito row " (drop)="drop($event)" (dragover)="allowDrop($event)" (dragend)="onDragEnd($event)"  >
      
      <div id="productoComprado"  class="col-3"  *ngFor="let producto of productos"  >
          <div class="reducep " >
              <img  class ="img-thumbnail reduce"src="../assets/imgs/perfume.jpg" alt="" draggable="false" >
              <p>nombre:{{producto.nombre}} </p>
              <p>cantidad:{{producto.cantidad}} </p>
              <p>preciototal:{{ producto.precio }} </p>
                 
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">
        numero de productos:   <span class="badge badge-light">{{numeroDeProductos}} </span>
      </button>
      <button type="button" class="btn btn-primary">
          valor total:    <span class="badge badge-light">{{this.valortotal}} </span>
      </button>
  </div> 

    <div class="row">
        <div id="producto" *ngFor="let producto of InfoProductosService.info" class="col-md-4 producto" 
        #me attr.data-name="{{producto.nombre}}"  attr.data-marca="{{producto.marca}}" attr.data-precio="{{producto.precio}}" draggable="true" 
        (dragstart)="drag($event,me.getAttribute('data-name'),me.getAttribute('data-marca'), me.getAttribute('data-precio'))" (dragend)="onDragEnd($event)"  
        (dragover)="allowDrop($event)"   >
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/50px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1661cffe44b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1661cffe44b%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            <div class="card-body text-center">
              <h5 class="font-weight-bold text-uppercase">{{producto.nombre}}</h5>
              <h6 class="font-weight-bold text-uppercase"> {{producto.marca}}              </h6>
              <small>
                {{producto.contenido}}  {{producto.precio}}
              </small>
            </div>
          </div>
        </div>
       
      </div> 

</main>
